<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.renfei.repository.dao.cms.TCmsPostAttachmentsMapper">
    <resultMap id="BaseResultMap" type="net.renfei.repository.dao.cms.model.TCmsPostAttachments">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="post_id" jdbcType="BIGINT" property="postId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="confidential_rank" jdbcType="INTEGER" property="confidentialRank"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="file_size" jdbcType="VARCHAR" property="fileSize"/>
        <result column="file_type" jdbcType="VARCHAR" property="fileType"/>
        <result column="down_number" jdbcType="INTEGER" property="downNumber"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        'id'
        , 'post_id', 'create_time', 'update_time', 'is_deleted', 'uuid', 'confidential_rank',
    'file_name', 'file_path', 'file_size', 'file_type', 'down_number'
    </sql>
    <select id="selectByExample" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachmentsExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from start_schema.t_cms_post_attachments
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from start_schema.t_cms_post_attachments
        where 'id' = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from start_schema.t_cms_post_attachments
        where 'id' = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachmentsExample">
        delete from start_schema.t_cms_post_attachments
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachments">
        insert into start_schema.t_cms_post_attachments ('id', 'post_id', 'create_time',
            'update_time', 'is_deleted', 'uuid',
            'confidential_rank', 'file_name', 'file_path',
            'file_size', 'file_type', 'down_number')
        values (#{id,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}, #{uuid,jdbcType=VARCHAR},
                #{confidentialRank,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR},
                #{fileSize,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{downNumber,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachments">
        insert into start_schema.t_cms_post_attachments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                'id',
            </if>
            <if test="postId != null">
                'post_id',
            </if>
            <if test="createTime != null">
                'create_time',
            </if>
            <if test="updateTime != null">
                'update_time',
            </if>
            <if test="isDeleted != null">
                'is_deleted',
            </if>
            <if test="uuid != null">
                'uuid',
            </if>
            <if test="confidentialRank != null">
                'confidential_rank',
            </if>
            <if test="fileName != null">
                'file_name',
            </if>
            <if test="filePath != null">
                'file_path',
            </if>
            <if test="fileSize != null">
                'file_size',
            </if>
            <if test="fileType != null">
                'file_type',
            </if>
            <if test="downNumber != null">
                'down_number',
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="confidentialRank != null">
                #{confidentialRank,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="downNumber != null">
                #{downNumber,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachmentsExample"
            resultType="java.lang.Long">
        select count(*) from start_schema.t_cms_post_attachments
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update start_schema.t_cms_post_attachments
        <set>
            <if test="record.id != null">
                'id' = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.postId != null">
                'post_id' = #{record.postId,jdbcType=BIGINT},
            </if>
            <if test="record.createTime != null">
                'create_time' = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                'update_time' = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDeleted != null">
                'is_deleted' = #{record.isDeleted,jdbcType=BIT},
            </if>
            <if test="record.uuid != null">
                'uuid' = #{record.uuid,jdbcType=VARCHAR},
            </if>
            <if test="record.confidentialRank != null">
                'confidential_rank' = #{record.confidentialRank,jdbcType=INTEGER},
            </if>
            <if test="record.fileName != null">
                'file_name' = #{record.fileName,jdbcType=VARCHAR},
            </if>
            <if test="record.filePath != null">
                'file_path' = #{record.filePath,jdbcType=VARCHAR},
            </if>
            <if test="record.fileSize != null">
                'file_size' = #{record.fileSize,jdbcType=VARCHAR},
            </if>
            <if test="record.fileType != null">
                'file_type' = #{record.fileType,jdbcType=VARCHAR},
            </if>
            <if test="record.downNumber != null">
                'down_number' = #{record.downNumber,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update start_schema.t_cms_post_attachments
        set 'id' = #{record.id,jdbcType=BIGINT},
        'post_id' = #{record.postId,jdbcType=BIGINT},
        'create_time' = #{record.createTime,jdbcType=TIMESTAMP},
        'update_time' = #{record.updateTime,jdbcType=TIMESTAMP},
        'is_deleted' = #{record.isDeleted,jdbcType=BIT},
        'uuid' = #{record.uuid,jdbcType=VARCHAR},
        'confidential_rank' = #{record.confidentialRank,jdbcType=INTEGER},
        'file_name' = #{record.fileName,jdbcType=VARCHAR},
        'file_path' = #{record.filePath,jdbcType=VARCHAR},
        'file_size' = #{record.fileSize,jdbcType=VARCHAR},
        'file_type' = #{record.fileType,jdbcType=VARCHAR},
        'down_number' = #{record.downNumber,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachments">
        update start_schema.t_cms_post_attachments
        <set>
            <if test="postId != null">
                'post_id' = #{postId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                'create_time' = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                'update_time' = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                'is_deleted' = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="uuid != null">
                'uuid' = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="confidentialRank != null">
                'confidential_rank' = #{confidentialRank,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                'file_name' = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                'file_path' = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                'file_size' = #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                'file_type' = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="downNumber != null">
                'down_number' = #{downNumber,jdbcType=INTEGER},
            </if>
        </set>
        where 'id' = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="net.renfei.repository.dao.cms.model.TCmsPostAttachments">
        update start_schema.t_cms_post_attachments
        set 'post_id' = #{postId,jdbcType=BIGINT},
            'create_time' = #{createTime,jdbcType=TIMESTAMP},
            'update_time' = #{updateTime,jdbcType=TIMESTAMP},
            'is_deleted' = #{isDeleted,jdbcType=BIT},
            'uuid' = #{uuid,jdbcType=VARCHAR},
            'confidential_rank' = #{confidentialRank,jdbcType=INTEGER},
            'file_name' = #{fileName,jdbcType=VARCHAR},
            'file_path' = #{filePath,jdbcType=VARCHAR},
            'file_size' = #{fileSize,jdbcType=VARCHAR},
            'file_type' = #{fileType,jdbcType=VARCHAR},
            'down_number' = #{downNumber,jdbcType=INTEGER}
        where 'id' = #{id,jdbcType=BIGINT}
    </update>
</mapper>